[misc]
logseverity = 4  ; Warning level - shows WARNING, ERROR, CRITICAL, ALERT, EMERGENCY

[account]
currency = USD
balance = 100000
leverage = 200
contractsize = 100000
digits = 3
stopoutpercent = 1
minimumstop = 0.02
spread = 0.02
minlotsize = 0.01
generate_plot = 1

[strategy]
pair = GBPJPY
passedtimeframe = 5
strategyid = 29
fromdate = 2018-01-01
todate = 2031-01-01
portfoliostrategies = 29
set = ./sets/daily_auto_gbpjpy_5M_860002_optimize.set
raterequirements = 300,300,240,120,30,10
symbolrequirements = D,D,D,D,D,D,D
timeframerequirements = 0,15,60,240,1440,10080

[optimization]
optimize = 1
optimizationtype = 0
numcores = 1
optimizationgoal = 7
population = 50
maxgenerations = 500
stopIfConverged = 1
discardAssymetricSets = 1
minTradesAYear = 20
crossoverprobability = 0.90
mutationprobability = 0.20
migrationprobability = 0.00
evolutionarymode = 0
elitismmode = 1
mutationmode = 0
crossovermode = 0

