[general]
monitoringInterval = 60
useEmail = 1
fromEmail = amo3167@gmail.com
toEmail = amo3167@gmail.com
emailLogin = amo3167@gmail.com
emailPassword = Poilkjmnb1
smtpServer = smtp.gmail.com:587
weekOpenDay = 0
weekOpenHour = 6
weekCloseDay = 5
weekCloseHour = 7

[accounts]
accounts = ICMarkets

[pepperstone]
accountNumber = 1000087460
path = C:\Users\amo31\AppData\Roaming\MetaQuotes\Terminal\E5D34929BCBAC87916D356DECB463DE3
frontend = MT4
