[general]
monitoringInterval = 60
useEmail = 0
useTelegram = 1
fromEmail = oceanxploertechnology@zohomail.com.au
toEmail = oceanxploertechnology@zohomail.com.au
emailLogin = oceanxploertechnology@zohomail.com.au
smtpServer = smtp.zoho.com.au:587
weekOpenDay = 0
weekOpenHour = 6
weekCloseDay = 6
weekCloseHour = 23

[accounts]
accounts = ICMarkets

[ICMarkets]
accountNumber = 1000087460
path = C:\Users\amo31\AppData\Roaming\MetaQuotes\Terminal\E5D34929BCBAC87916D356DECB463DE3
frontend = MT4
