[misc]
logSeverity = 2                             ;0 = None, 1 = Debug, 2 = Info, 3 = Warning, 4 = Error, 5 = Critical
screenLogSeverity = 4                       ;0 = None, 1 = Debug, 2 = Info, 3 = Warning, 4 = Error, 5 = Critical
emailLogSeverity = 0                        ;0 = None, 1 = Debug, 2 = Info, 3 = Warning, 4 = Error, 5 = Critical
smtp = smtp.gmail.com
port = 25
to =amo3167@gmail.com	
from =mo3167@gmail.com
user =amo3167@gmail.com	
password =Poilkjmnb1
executionTime = 5                          ;In seconds

[plots]
graphicPaintingPeriod = 5                   ; How many executions to wait before updating the server
enableWebServer = yes	; enable web server implementation
webServerPort = 25000   ; web server port

[account]
accountName = JFOREX                        ; Name of the account. Just for identification purposes
brokerName = Dukascopy              ; Broker Name (As it appears in broker-tz.csv
refBrokerName = Alpari (UK) Historic Data   ; Broker Ref Name (As it appears in broker-tz.csv
strategies = kantu_10021,kantu_10033,kantu_20003,kantu_30004           ; Coma separated list of strategies to run in this account
login = 	DEMO10054YkgkjFD                                 ; User login
password = Ykgkj 										;4eac6a3260a6da44cd5f95195c1641f3-7218dcf5d15b7f7f44b11a355a0027e6                             ; User password
useOrderWrapper = no                       ; Use order wrapper (yes for Oanda and NFA accounts), no in other case
hasStaticIP = no                            ; yes if you have a static IP in the computer running the AsirikuyTrader, no in other case
accountID = 1225346                             ; Account ID
isDemo = yes                                ; yes for Demo Accounts, no for Real Accounts
isJava = no                                ; Only for Oanda Accounts. yes for using the JAVA interface, no for using the REST interface
useStreaming = no						; Controls whether to use tick-by-tick streaming
initialBalance = 10000						; Initial balance of this trading account (used for the calculation of some statistics)
depositSymbol = USD							; Account deposit currency

[kantu_10021]
name = kantu_10021                           ; Name of the strategy. Just for identification purposes
setFile = kantu_10021_EURUSD.set             ; Set file with the strategy parameters located in the "sets" folder
pair = EURUSD                               ; Pair used for running the strategy
strategyID = 18                             ; ID of the strategy to run. This is the ID of the strategy in F4, not any kind of magic number
passedTimeFrame = 60                        ; TF passed to F4 for the refactoring
rateRequirements = 600					; number of bars to pass to the F4 framework on the rate arrays (up to ten can be defined)
symbolRequirements = D					; symbols to use to populate the data arrays (D means default symbol, N means no symbol)(up to ten can be defined)
timeframeRequirements = 0				; time frames used to populate the F4 framework rate arrays in minutes (0 means STRATEGY_TIMEFRAME defined in the set file) (up to ten can be defined)

[kantu_10033]
name = kantu_10033                           ; Name of the strategy. Just for identification purposes
setFile = kantu_10033_EURUSD.set             ; Set file with the strategy parameters located in the "sets" folder
pair = EURUSD                               ; Pair used for running the strategy
strategyID = 18                             ; ID of the strategy to run. This is the ID of the strategy in F4, not any kind of magic number
passedTimeFrame = 60                        ; TF passed to F4 for the refactoring
rateRequirements = 600					; number of bars to pass to the F4 framework on the rate arrays (up to ten can be defined)
symbolRequirements = D					; symbols to use to populate the data arrays (D means default symbol, N means no symbol)(up to ten can be defined)
timeframeRequirements = 0				; time frames used to populate the F4 framework rate arrays in minutes (0 means STRATEGY_TIMEFRAME defined in the set file) (up to ten can be defined)

[kantu_20003]
name = kantu_20003                           ; Name of the strategy. Just for identification purposes
setFile = kantu_20003_USDJPY.set             ; Set file with the strategy parameters located in the "sets" folder
pair = USDJPY                               ; Pair used for running the strategy
strategyID = 18                             ; ID of the strategy to run. This is the ID of the strategy in F4, not any kind of magic number
passedTimeFrame = 60                        ; TF passed to F4 for the refactoring
rateRequirements = 600					; number of bars to pass to the F4 framework on the rate arrays (up to ten can be defined)
symbolRequirements = D					; symbols to use to populate the data arrays (D means default symbol, N means no symbol)(up to ten can be defined)
timeframeRequirements = 0				; time frames used to populate the F4 framework rate arrays in minutes (0 means STRATEGY_TIMEFRAME defined in the set file) (up to ten can be defined)

[kantu_30004]
name = kantu_30004                           ; Name of the strategy. Just for identification purposes
setFile = kantu_30004_GBPUSD.set             ; Set file with the strategy parameters located in the "sets" folder
pair = GBPUSD                               ; Pair used for running the strategy
strategyID = 18                             ; ID of the strategy to run. This is the ID of the strategy in F4, not any kind of magic number
passedTimeFrame = 60                        ; TF passed to F4 for the refactoring
rateRequirements = 600					; number of bars to pass to the F4 framework on the rate arrays (up to ten can be defined)
symbolRequirements = D					; symbols to use to populate the data arrays (D means default symbol, N means no symbol)(up to ten can be defined)
timeframeRequirements = 0				; time frames used to populate the F4 framework rate arrays in minutes (0 means STRATEGY_TIMEFRAME defined in the set file) (up to ten can be defined)

[TestEA]
name = TestEA
setFile = testEA.set
pair = EURUSD
strategyID = 16
passedTimeFrame = 60
rateRequirements = 300,30
symbolRequirements = D,D
timeframeRequirements = 0,1440